@charset "UTF-8";
/* CSS Document */

body {
background-color:#000;
font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif;
}

#wrapper {
	background-color: #fff;
	width: 750px;
}

#blue {
	background-color: #000 ;
	width: 750px;
	height: 125px;
	float:left;
	margin-left: 105px;
}

#box {
	background-color: #000 ;
	width: 750px;
	float:left;
	margin-top: 20px;
}

.r {
	color:red;
	font-size: 40px;
}

.g {
	color:green;
	font-size: 40px;
}

.b {
	color:blue;
	font-size: 40px;
}

.y {
	color:yellow;
	font-size: 40px;
}
